<p>
Please choose from the list of recipes below.
</p>

<div class="recipe_list_container">
    <div>
        <div>Title</div>
        <div>Servings</div>
        <div>Cook time</div>
        <div>Prep time</div>
        <div>Total time</div>
    </div>
    <% @recipes.each do |recipe| %>
        <div>
            <div><%= link_to recipe.title, recipe %></div>
            <div><%= recipe.servings %></div>
            <div><%= recipe.cook_time %></div>
            <div><%= recipe.prep_time %></div>
            <div><%= recipe.total %></div>
            <a href="http://127.0.0.1:3000/recipes/<%= recipe.id %>/edit">Edit</a>
            <button onclick="delete_recipe('<%= recipe.id %>')">Delete</button>
        </div>
    <% end %>
</div>
