<p>
Please choose from the list of recipes below.
</p>

<table>
    <tr>
        <th>Title</th>
        <th>Servings</th>
        <th>Cook time</th>
        <th>Prep time</th>
        <th>Total time</th>
    </tr>
    <% @recipes.each do |recipe| %>
        <tr>
            <td><%= link_to recipe.title, recipe %></td>
            <td><%= recipe.servings %></td>
            <td><%= recipe.cook_time %></td>
            <td><%= recipe.prep_time %></td>
            <td><%= recipe.total %></td>
        </tr>
    <% end %>
</table>
<% @foo.each do |f| %>
    <p><%= f %></p>
<% end %>