<p class="form_header">
All Available Recipes
</p>

<div class="recipe_list_container">
    <div class="table_header">
        <div class="table_header_item">Title</div>
        <div class="table_header_item">Servings</div>
        <div class="table_header_item">Cook Time</div>
        <div class="table_header_item">Prep Time</div>
        <div class="table_header_item">Total Time</div>
    </div>
    <% @recipes.each do |recipe| %>
        <div class="table_data_each">
            <%= link_to recipe.title, recipe, :class => 'recipe_title table_data_data' %>
            <div class="table_data_data"><%= recipe.servings %></div>
            <div class="table_data_data"><%= recipe.cook_time %></div>
            <div class="table_data_data"><%= recipe.prep_time %></div>
            <div class="table_data_data"><%= recipe.total %></div>
            <div class="table_btn_container">
                <%= link_to 'Edit', edit_recipe_path(recipe), :class => "table_btn" %>
                <%= button_to 'delete', recipe, method: :delete, :class => "reddish table_btn_delete" %>
            </div>
            <hr color="black" size="0.2px" class="linebreak">
        </div>
    <% end %>
</div>
