<div class="recipe_detail_container">
    <div>Title: <%= @recipe.title %></div>
    <div>Servings: <%= @recipe.servings %></div>
    <div>Cooking Time: <%= @recipe.cook_time %></div>
    <div>Prepping Time: <%= @recipe.prep_time %></div>
    <div>Total Time: <%= @recipe.total %></div>
    <div>Recipe Ingredients: <%= @recipe.ingredients %></div>
    <div>Recipe Steps: <%= @recipe.steps %></div>
</div>