<div class="recipe_detail_container">
    <div><%= @foo.title %></div>
    <div><%= @foo.servings %></div>
    <div><%= @foo.cook_time %></div>
    <div><%= @foo.prep_time %></div>
    <div><%= @foo.total %></div>
</div>