<div class="form_header">
    Showing Information For: <%= @recipe.title %>
</div>
<div class="forms_forms_container recipe_detail_container">
    <div class="recipe_show_recipe">
        <div>Title: <%= @recipe.title %></div>
        <div>Servings: <%= @recipe.servings %></div>
        <div>Cooking Time: <%= @recipe.cook_time %></div>
        <div>Prepping Time: <%= @recipe.prep_time %></div>
        <div>Total Time: <%= @recipe.total %></div>
        <div>Country of Origin: <%= @recipe.origin %></div>
    </div>
    <div class="recipe_show_ingredients">
        Ingredients: 
        <% @recipe.ingredients.each do |i| %>
            <div class="">
                <% if i.sequence %>
                    <%= i.sequence %> .) <%= i.item %>
                <% else %>
                    <%= i.item %>
                <% end %>
            </div>
        <% end %>
    </div>
    <div class="recipe_show_steps">
        Steps: 
        <% @recipe.steps.each do |i| %>
            <div class="">
                <% if i.sequence %>
                    <%= i.sequence %> .) <%= i.description %>
                <% else %>
                    <%= i.description %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
<div class="">
    <%= link_to 'Edit', edit_recipe_path(@recipe), :class => "show_btn" %>
    <%= button_to 'Delete', @recipe, :method => "delete", :class => "reddish show_btn" %>
</div>