<%= form_for @ingredient, :url =>{ :action => "create" } do |i| %>
    <p>
        <div class="">
            Recipe for this Ingredient:
        </div>
        <select class="" name="recipe_id">
            <% Recipe.all.each do |r| %>
                <% if r.id == @r_id.to_i %>
                    <option value="<%= r.id %>" selected="selected"><%= r.title %></option>
                <% else %>
                    <option value="<%= r.id %>"><%= r.title %></option>
                <% end %>
            <% end %>
        </select>
    </p>
    <p>Sequence (order in which this ingredient wil be added): <%= i.number_field  'sequence' %></p>
    <p>Name of Ingredient: <%= i.text_field  'item' %></p>
    <%= i.submit "Save and Add 'Steps'" %>
    <%= i.submit "Save and Add Another Ingredient" %>
<% end %>
