<%= form_for(@step, :url =>{ :action => "update", :controller => "steps", :id => @step }) do |i| %>
    <p>
        <select class="" name="step[recipe_id]">
            <% Recipe.all.each do |r| %>
                <option value="<% r.id %>"><%= r.title %></option>
            <% end %>
        </select>
    </p>
    <p>sequence: <%= i.number_field  'sequence' %></p>
    <p>item: <%= i.text_field  'description' %></p>
    <%= i.submit "Save changes" %>
<% end %>
