<div class="recipe_detail_container">
    <div><%= @recipe.title %></div>
    <div><%= @recipe.servings %></div>
    <div><%= @recipe.cook_time %></div>
    <div><%= @recipe.prep_time %></div>
    <div><%= @recipe.total %></div>
    <div><%= @recipe.ingredients %></div>
    <div><%= @recipe.steps %></div>
</div>